body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}
.bio {
  margin-left: 5%;
  width: 40%;
  float: left;
  margin-bottom: 2pxexperiences;
}

.bio img {
    width: 100%;

}

h1{
    font-size: 30px;
    font-weight: 500;
}
.logo {
    
    color: orange;
    font-family: "Roboto", sans-serif;
    
}

.intro {
    font-weight: 400;
    color: coral;
}

.intro:hover {
    font-family: "Poppins", sans-serif;
    color: orange;
    font-size: medium;
}

.paragraph {
  text-align: justify;
}

.top-banner {
    background-image: url("images/top-banner.png");
     background-repeat: no-repeat;
}
.button {
    text-decoration: none;
    background-image: linear-gradient(purple,pink);
    padding: 10px 20px;
    border-radius: 10px;
    color: aliceblue;
    font-weight: bold;
    margin-left: 200px;
}

.button:hover {
    background-color: rgb(215, 236, 255);
    color: orange;
}

section {
    height: 500px;
}
.header2{
    padding-left: 3%;
    padding-top: 10%;
}

.header3 {
    padding-left: 3%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: orange;
}
.paragraph2 {
    text-align: justify;
    color: dimgray;
    padding-bottom: 10px;
}

.button1 {
    text-decoration: none;
    background-image: linear-gradient(blue,white);
    padding: 10px 20px;
    border-radius: 10px;
    color: aliceblue;
    font-weight: bold;
    margin-left: 200px;
}

.button1:hover {
    color: blueviolet;
}

.dream-area {
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    
}


.experiences {
    margin-top: 5%;
}

.main {
    margin-left: 5%;
}

.experience {
    box-shadow: 10px 10px 40px gray;
    margin-top: 2%;
    padding: 2%;
    border-radius: 5%;
    text-align: justif;
    height: 60%;
}